<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container" style="background-color: <%= flair.color %> ">
      <h1><%= flair.name %></h1>

      <p><%= flair.color %></p>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
